<div class="row">
  <div class="span12 white-panel no-padding">
    <div class="tab-pane" id="profile">
      <div class="span5">
          <ul class="green-checks">
            <br/>
            <h2>目录</h2>
            <%= form_for(@user) do |f| %>
              <% if @user.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                  <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="field">
                <%= f.label "姓名" %><br />
                <%= f.text_field :name %>
              </div>
              <div class="field">
                <%= f.label  "密码" %><br />
                <%= f.text_field :password %>
              </div>              
              <div class="field">
                <%= f.label "余额" %><br />
                <%= f.text_field :balance %>
              </div>
               <div class="field">
                <%= f.label "球队" %><br />
                <%= f.select :team_id, Team.all.collect{|s| [s.name, s.id]}%>
              </div>
              <div class="field">
                <%= f.label "VIP" %><br />
                <%= f.check_box :vip %>
              </div>
              <div class="field">
                <%= f.label "备注" %><br />
                <%= f.text_area :note %>
              </div>
              <div class="actions">
                <%= f.submit %>
              </div>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>

