 <div class="row get-started-now">
    <div class="span12 white-panel button-text-panel">
        <div class="white-panel-content">
            <h2>最新活动，<%= game_date(@game)%>，<%= @game.try(:site).try(:address) %></h2>
            <a href="/home/enroll?game_id=<%= @game.try(:id) %>" class="btn btn-large btn-warning">立即报名</a>
            <a href="/enlists/week_enlist?game_id=<%= @game.try(:id) %>" class="btn btn-large btn-warning">查看详情</a>
        </div>
    </div>
</div>
  
<div class="row">
  <div class="span12 white-panel no-padding">
    <ul class="nav nav-tabs">
        <li><a href="#home" data-toggle="tab" class="gc-icon agency-icon"><i class="icon-fire"></i>天胡简介</a></li>
        <li><a href="#profile" data-toggle="tab" class="gc-icon enterprise-icon"><i class="icon-user"></i>球员介绍</a></li>
        <li><a href="#messages" data-toggle="tab" class="gc-icon higher-ed-icon"><i class="icon-home"></i>出勤查询</a></li>
        <li><a href="#settings" data-toggle="tab" class="gc-icon gov-icon"><i class="icon-plus"></i>活动留念</a></li>
    </ul> <!-- End tabs -->

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <div class="span5">
                <h2><%= @team.try(:name) %></h2>

                <ul class="green-checks">
                    <%= @team.try(:note) %>
                </ul>

                <a href="signup" class="btn btn-warning btn-large">加入我们</a>

                <p class="small-text">联系电话：xxxxxxxxxxx </p>
            </div>
            <div class="span5  pull-right">
                <%= image_tag "psb.jpg"%>
                <p class="small-text pull-right">Bloom Agency, taming content chaos.</p>
            </div>
        </div>

        <div class="tab-pane" id="profile">
            <div class="span5">
                <ul class="green-checks">
                    <br/>
                    <h2>总人数：<%= User.all.size %></h2>
                    <% User.all.each do |user|%>
                        <li><h2><%= user.name %> | <%= user.balance %></h2></li>
                    <% end %>
                </ul>
            </div>
        </div>

        <div class="tab-pane" id="messages">
            <div class="span5">
                <ul class="green-checks">
                    <br/>
                    <% @count = Game.all.size %>
                    <h2>总场数：<%= @count %></h2>
                       <li><h2>姓名 | 出场次数 | 出勤率 </h2></li>
                    <% User.all.each do |user|%>
                        <li><h2><%= user.name %> | <%= user.games.count %> | <%= number_to_percentage(user.games.count / @count * 100) %>  </h2></li>
                    <% end %>
                </ul>
            </div>
        </div>

        <div class="tab-pane" id="settings">
            <div class="span5">
                <%= image_tag "psb.jpg"%>
            </div>
            <div class="span5 pull-right">
                <h2>西二旗联赛合影</h2>

                <ul class="green-checks">
                    <li>Collaborate with your team</li>
                    <li>Collaborate with your team</li>
                    <li>Collaborate with your team</li>
                    <li>Collaborate with your team</li>
                    <li>Collaborate with your team</li>
                    <li>Collaborate with your team</li>
                    <li>Collaborate with your team</li>
                    <li>Collaborate with your team</li>
                    <li>Keep content structured, in a centralised place</li>
                    <li>Track changes, and see who has done what</li>
                    <li>Track progress and get approval</li>
                    <li>Save time and money</li>
                </ul>

                <p class="small-text">30 day free trial, no credit card required.</p>
            </div>
            <div class="span5">
                <h2>回龙观中学快乐的玩耍</h2>

                <ul class="green-checks">
                    <li>Collaborate with your team and faculty</li>
                    <li>Keep content structured, in a centralised place</li>
                    <li>Track changes, and see who has done what</li>
                    <li>Track progress and get approval</li>
                    <li>Remove headaches and save time</li>
                </ul>

                <p class="small-text">30 day free trial, no credit card required.</p>
            </div>
            <div class="span5  pull-right">
                <%= image_tag "life1.jpg"%>
                <p class="small-text pull-right">University of Louisville.</p>
            </div>
            <div class="span5">
                <%= image_tag "life2.jpg"%>
            </div>
            <div class="span5 pull-right">
                <h2>高富帅老大&队长</h2>

                <ul class="green-checks">
                    <li>Collaborate with your team</li>
                    <li>Keep content structured, in a centralised place</li>
                    <li>Track changes, and see who has done what</li>
                    <li>Track progress and get approval</li>
                    <li>Save time and money</li>
                </ul>

                <p class="small-text">30 day free trial, no credit card required.</p>
            </div>
            <div class="span5">
                <h2>浪人老刘&土</h2>

                <ul class="green-checks">
                    <li>Collaborate with your team and faculty</li>
                    <li>Keep content structured, in a centralised place</li>
                    <li>Track changes, and see who has done what</li>
                    <li>Track progress and get approval</li>
                    <li>Remove headaches and save time</li>
                </ul>

                <p class="small-text">30 day free trial, no credit card required.</p>
            </div>
            <div class="span5  pull-right">
                <%= image_tag "life3.jpg"%>
                <p class="small-text pull-right">University of Louisville.</p>
            </div>

        </div>
    </div> <!-- End .tab-content -->
</div>
