<!DOCTYPE html>
<html>
<head>
  <title>TianHu</title>
	  <meta charset="utf-8">
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>

	  <%= csrf_meta_tags %>
</head>
<body>
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "banner6.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <p class="lead">为梦想而战，叱咤绿茵赛场.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "banner2.jpg"%>
      <div class="container">
        <div class="carousel-caption">
          <a class="btn btn-large btn-primary" href="#">最近活动</a>
          <p class="lead"></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "banner8.jpg"%>
      <div class="container">
        <div class="carousel-caption">
          <a class="btn btn-large btn-primary" href="#">加入我们</a>
          <p class="lead"></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
	<div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">天胡足球俱乐部</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="/">首页</a></li>
                <% if @game.present? %>
                  <li><a href="/enlists/week_enlist?game_id=<%= @game.try(:id) %>">比赛报名</a></li>
                <% end %>
                <li><a href="/#profile">余额查询</a></li>
                <% if current_user.present? %>
                  <li><a href="#"><%= current_user.try(:name) %>已登录</a><li>
                <% else %>
                  <li><a href="/home/login">登录</a></li>
                <% end %>
                
                <!-- Read about Bootstrap dropdowns at http://twbs.github.com/bootstrap/javascript.html#dropdowns -->
                
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
    <div class="container">
      <%= yield %>
    </div>
  <!-- page-content-wrapper -->

</div>
    <div class="push"><!--//--></div>
</div> 
 <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span12">
                <a href="https://gathercontent.com/">
                  <h2>天湖足球俱乐部</h2>
                </a>
                <p>Our mission is to bring content harmony to everyone.</p>
            </div>
        </div>
        <div class="row links-horizontal">
            <div class="span12">
                <ul>
                    <li>合作伙伴</li>
                    <li><a href="https://gathercontent.com/">Home</a></li>
                    <li><a href="https://gathercontent.com/features">Features</a></li>
                    <li><a href="https://gathercontent.com/how-it-works">How It Works</a></li>
                    <li><a href="https://gathercontent.com/pricing">Pricing</a></li>
                    <li><a href="http://gathercontent.helpjuice.com/">Help &amp; Support</a></li>
                    <li><a href="http://gathercontent.helpjuice.com/questions/26611-How-do-I-use-the-API" target="_blank">API</a></li>
                    <li><a href="http://getsatisfaction.com/gathercontent" target="_blank">Community &amp; Feedback</a></li>
                </ul>
            </div>

            <div class="span12">
                <ul>
                    <li>友情链接</li>
                    <li><a href="https://gathercontent.com/about">About Us</a></li>
                    <li><a href="mailto:support@gathercontent.com">Contact Us</a></li>
                    <li><a href="http://blog.gathercontent.com">Blog</a></li>
                    <li><a href="http://www.trello.com/board/product-roadmap/4fdb32ea92d2163a183b89c6" target="_blank">Product Roadmap</a></li>
                </ul>
            </div>

        </div>

        <p>Copyright GatherContent Ltd. All rights reserved. Proudly made in Scotland. Thank you to <a href="http://www.bloomagency.co.uk">Bloom Agency</a> for allowing us to use a photo of their amazing workspace.</p>

    </div>
</footer>
</body>
</html>
